<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TEST</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/picker.js"></script>
</head>

<body>
    <input type="button" value="TEST" onclick="showVisitorInfo('Click',  'Click TEST Button');">
    <hr>
    <a href="/vh/" onclick="">JUMP</a>
</body>

</html>
<script>
    function showVisitorInfo(event, action) {
        let picker = Picker
        dt = picker.data(event, action);
        picker.util.sendDataToServer('/track/', { dt: JSON.stringify(dt) })
        console.log(dt)
    };

</script>